<section id="intro-wrap" class="intro-nine-Wrap   text-left text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 intro-three-LeftSection pb-5">
                <img src="./assets/images/landing/lOGO_d/NIA.png" class="img-responsive" alt=""> 
                <h1 class=" font-weight-bold text-white text-42 mb-2 t-shadow">National Irrigation Administration</h1>
                <p class=" text-20 mb-4">Pambansang Pangasiwaan ng Patubig </p>
                <div class=" mb-5 lead">
                    <ul class="list-inline">
                        <li class=" mb-3 ">a government-owned and controlled corporation primarily responsible for
                             irrigation development and management.
                             Its charter was amended by Presidential Decree (PD) 552 on 11 September 1974 and 
                             PD 1702 on 17 July 1980. Both increased the capitalization and broadened the authority of the Agency.
                        </li>
                    </ul>
                </div>
                <!-- <div class="intro-three-Buttons">
                    <a name="" id="" routerLink="/sessions/signin"
                        class="btn btn-outline-white btn-lg pl-5 pr-5 pb-2  mr-2 mb-4 text-uppercase half-button"
                        href="#" role="button">

                        Sign in
                    </a>
                    <a id="" routerLink="/sessions/signup" class="btn btn-warning btn-lg pl-5 pr-5 pb-2 mb-4 text-uppercase 
 half-button" href="#" role="button">

                        Sign up
                    </a>

                </div> -->

            </div>
            <div class="col-md-4 intro-three-RightSection d-flex align-items-center">

                <div class="intro-three-ProductImage">

                    <!-- <img src="./assets/images/landing/home/image1.jpg" class="img-responsive" alt="" height="400" width="700"
                        [@animate]="{value:'*',params:{x:'200px',opacity:'0',delay:'100ms', duration: '400ms'}}"> -->
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">

    </div> 
</section>
