<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">


            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">



                    <div class="">
                        <h4 class="card-title font-weight-bold">Republic of the Philippines</h4>
                        <p class="">All content is in the public domain unless otherwise stated.</p>
                    </div>


                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">


 
                    <div class=" ">
                        <h4 class="card-title font-weight-bold">About GOVPH</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "> <a href="#">Learn more about the Philippine government, its structure, how government works and the people behind it.</a></li>
                                <li class=" mb-3 "><a href="#">Official Gazette</a>
                                </li>
                                <li class="mb-3"> <a href="#"> Open Data Portal</a>
                                </li>
                                <li class="mb-3"> <a href="#"> Send us your feedback</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4 mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">Government Links</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Office of the President
                                </li>
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Office of the Vice President
                                </li>
                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Senate of the Philippines</li>
                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> House of Representatives</li>
                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Supreme Court</li>
                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Court of Appeals</li>
                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Sandiganbayan</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3  mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">Contact Info</h4>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>Digos, Philippines</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>pro@adcc.com</li>

                            </ul>
                        </div>

                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +639238351690</li>

                            </ul>
                        </div>


                        <section class="social-wrap ">

                            <div class="social-btns-wrap">

                                <a class="social-btn text-30 facebook ml-0" href="#"><i
                                        class="eva eva-facebook"></i></a>

                                <a class="social-btn text-30 twitter" href="#"><i class="eva eva-twitter"></i></a>

                                <a class="social-btn text-30 google" href="#"><i class="eva eva-google"></i></a>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>
