<section class="faqs-wrap p-t-b-80 " id="faqs-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">About Us</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 mb-4 mb-lg-0 mb-md-0  mb-4">
                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" >
                    <ngb-panel title="Overview">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                <p>The National Irrigation Administration (NIA) is a government-owned and controlled corporation primarily responsible for irrigation development and management. It was created under Republic Act (RA) 3601 on 22 June 1963. Its charter was amended by Presidential Decree (PD) 552 on 11 September 1974 and PD 1702 on 17 July 1980. Both increased the capitalization and broadened the authority of the Agency.</p>

                                <p>NIA's forerunner was the Irrigation Division of the defunct Bureau of Public Works. NIA was placed under the Office of the President (OP) upon its creation. It was attached to the Department of Public Works, Transportation, and Communication under PD No.1, dated 23 September 1972. The issuance also integrated all irrigation activities under the Agency. The Administrative Code of 1987, dated 25 July 1987, attached NIA to both the Department of Public Works and Highways (DPWH), and Department of Agriculture (DA). But NIA remained attached to DPWH. It was transferred to OP pursuant to Executive Order No. 22, dated 14 September 1992. Then, it was attached to DA under Administrative Order No. 17, dated 14 October 1992.</p>
                                
                                <p>Executive Order No. 165, Transferring the National Food Authority, National Irrigation Administration, Philippine Coconut Authority, and Fertilizer and Pesticide Authority to the Office of the President, 5 May 2014. Memorandum Order No. 70, Providing for the functions of the Presidential Assistant for Food Security and Agricultural Modernization, 5 May 2014.</p>
                                
                                <p>Memorandum from the Executive Secretary - Office of the President, the Secretary of the Office of the Cabinet Secretary was designated Acting Chairperson of the NIA Board of Directors, 3 November 2016.</p>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                           Powers and Functions
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                <p><b>BOARD OF DIRECTORS</b></p>

                                <p>The Board of Directors exercises the powers and functions of NIA.</p>
                                
                                <p><b>COMPOSITION OF THE BOARD</b></p>
                                
                                <ul>
                                <li>Secretary of the Office of the Cabinet Secretary as Acting Chairman</li>
                                <li>Administrator of NIA as Vice Chairman</li>
                                <li>Director General of the National Economic and Development Authority as Member</li>
                                <li>Secretary of Public Works and Highways as Member</li>
                                <li>President of the National Power Corporation as Member</li>
                                <li>One (1) member from the private sector appointed by the President of the Philippines on the recommendation of any national rice and corn organization of good standing and who shall serve for a term of four years unless sooner removed.</li>
                                </ul>
                                <p>The Secretary of the Office of the Cabinet Secretary was designated Acting Chairperson of the NIA Board of Directors by virtue of Memorandum from the Executive Secretary - Office of the President. Before this, the Secretary of the Office of the Presidential Assistant for Food Security and Agricultural Modernization served as Board Chairman.</p>
                                 
                                <p><b>POWERS AND DUTIES PURSUANT TO PD 552:</b></p>
                                
                                <p>1. To formulate and adopt policies for the management and operations of NIA, and to prescribe, amend and repeal, with the approval of the President of the Philippines, rules and regulations governing the manner in which the general business of NIA may be conducted, including provisions for the formation of such committee/s as the Board may deem necessary to facilitate the business;</p>
                                <p>2. To recommend to the President of the Philippines the appointment of such number of Assistant Administrators as the exigencies of the service may require from a list of names submitted by the Administrator; to fix the compensation of the Administrator and his Assistant/s, and by at least two-thirds vote of all the members, to recommend the suspension and/or removal of the said officials for cause;</p>
                                <p>3. To approve, subject to the final action of the President, the annual and/or supplemental budget of NIA which may be submitted to the Board by the Administrator from time to time;</p>
                                <p>4. To appoint and fix the compensation of a Board Secretary who shall hold office at the pleasure of the majority of the members of the Board.</p>
                                <p><b>THE RATIONALIZATION PROGRAM IN NIA</b></p>
                                
                                <p>The Rationalization Plan (RPlan) for NIA was authorized under Executive Orders 366 (2004) and 718 (2008). NIA's RPlan aims to improve the delivery of service and productivity thru the merger of offices and streamlining their functions; and the creation of irrigation management offices out of the irrigation systems offices and provincial irrigation offices. The Internal Audit Service and Irrigation Engineering Center are new offices in the central office created under the RPlan. Certain functions and responsibilities that used to be lodged at the central office are decentralized to the field offices. The Irrigation Management Transfer Program is a major component of the RPlan. NIA started implementing its five-year phased Rationalization Plan in 2008.</p>
                                
                                <p>link: Organizational Chart</p>
                                
                                <p><b>CENTRAL OFFICE</b></p>
                                
                                <p>The Administrator is NIA's chief executive officer. He is supported by a Senior Deputy Administrator and two Deputy Administrators: for engineering and operations; and administrative and finance. The central office issues guidelines and policies and exercises control over field operations.</p>
                                
                                <p><b>FIELD OFFICES</b></p>
                                
                                <p>Decentralization of functions is achieved through delegation of various authorities to field offices.</p>
                                
                                <p>1. RIO: Regional Irrigation Offices (16), each headed by a Regional Irrigation Manager (RIM). These implement the plans, programs, and policies of the Agency in the region.
                                The RIOs oversee the Irrigation Management Offices.</p>
                                <p>2. Integrated Irrigation Systems (2), each headed by an Operations Manager for the two reservoir systems: UPRIIS and MRIIS.</p>
                                <p>3. IMO: Irrigation Management Offices (51), each headed by a Division Manager. These are responsible for the construction and rehabilitation of irrigation projects and systems in one or a cluster of provinces. These also implement the operation and maintenance (O&M) plans of irrigation systems in collaboration with the farmer-beneficiaries.
                                The IMOs consist of 40 clustered provinces; and the 9 district offices, and two dam and reservoir divisions of UPRIIS and MRIIS. Provinces with national irrigation systems aggregating less than 3,000 ha are under the direct supervision of the RIO instead of being clustered as IMO. These include Albay, Catanduanes, Masbate, and Sorsogon in Region 5, and Zamboanga del Norte and Sibugay in Region 9. A satellite office will be establish in each of these provinces.</p>
                                <p>4. PMO: Project Management Offices (15), headed by Project Managers, implement foreign-assisted national projects, and communal irrigation projects. The number of PMOs varies from year to year. The Project Manager reports directly to the Administrator, through the Deputy Administrator for Engineering and Operations and the RIM.
                                Locally-funded projects are implemented by the RIO thru the IMO or a team headed by a Project Engineer.</p>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Vision, Mission, Objectives and Quality Policy">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                <p>By 2022, NIA is a professional and efficient irrigation agency contributing to the inclusive growth of the country and in the improvement of the farmers' quality of life.</p>

                                <p><b>MISSION</b></p>
                                <p>To plan, construct, operate and maintain irrigation systems consistent with integrated water resource management principles to improve agricultural productivity and increase farmers' income.</p>

                                <p><b>OBJECTIVES</b></p>
                                <ul>
                                <li>To develop and maintain irrigation systems in support of the agricultural program of the government;</li>

                                <li>To provide adequate level of irrigation service on a sustainable basis in partnership with the farmers and local government units;</li>

                                <li>To provide technical assistance to institutions in the development of water resources for irrigation;</li>

                                <li>To improve and sustain the operation of NIA as a viable corporation and service-oriented agency.</li>
                                </ul>
                                <p><b>CORE VALUES</b></p>
                                Commitment - Integrity - Professionalism

                                <p><b>QUALITY POLICY</b></p>
                                <p>We commit to provide efficient, effective, and sustainable irrigation services aimed towards the highest satisfaction of the Filipino farmers.</p>

                                <p>We strive for the attainment of our strategic themes of Technical and Operational Excellence, and Good Governance through Partnership with the farmers and other relevant interested parties.</p>

                                <p>We abide with applicable legal and international requirements.</p>

                                <p>We remain dedicated to the core values of Commitment, Integrity and Professionalism, to continually improve the NIA's Quality Management System.</p>

                                <p><b>QUALITY OBJECTIVES</b></p>
                                <ul>
                                <li>Increased Irrigated Areas Contributing to Agricultural Productivity;</li>
                                <li>Attain Satisfaction of Farmers;</li>
                                <li>Improve Planning, Design and Implementation of Irrigation and Multi-purpose Projects to be Climate Change Adaptive;</li>
                                <li>Ensure Efficient and Effective Operation and Maintenance of Irrigation Systems;</li>
                                <li>Improve Budget Utilization and Revenue Generation from non-irrigations sources;</li>
                                <li>Adopt a Results-Based Performance Culture; and</li>
                                <li>Improve Management Information Systems and Processes.</li>
</ul>
<img src="assets/images/landing/about/startmap.jpg" alt="logo" class="mt-1">
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Legislations">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                <p>The major laws, Executive Orders, Administrative Orders and other Issuances relevant to the operations of NIA include the following:</p>

                                <p><b>CHARTER</b></p>

                                <p>1. Republic Act 3601, An Act Creating the National Irrigation Administration, 22 June 1963</p>
                                <p>2. Presidential Decree 552, Amending Certain Sections of Republic Act Numbered Thirty Six Hundred and One, Entitled, "Act Creating the National Irrigation Administration", 11 September 1974</p>
                                <p>3. Presidential Decree 1702, Amending Section 3 of Republic Act No. 3601 as Amended by Presidential Decree No. 552, 18 July 1980</p>
                                <p>4. Memorandum Order No. 38, Further Amending Certain Sections of Republic Act Numbered Thirty Six Hundred and One, Entitled, "An Act Creating the National Irrigation Administration", 15 September 1986</p>
                                <p>5. Executive Order No. 165, Transferring the National Food Authority, National Irrigation Administration, Philippine Coconut Authority, and Fertilizer and Pesticide Authority to the Office of the President, 5 May 2014</p>
                                <p>6. Memorandum Order No. 70, Providing for the functions of the Presidential Assistant for Food Security and Agricultural Modernization, 5 May 2014</p>
                                <p>7.Memorandum from the Executive Secretary - Office of the President, the Secretary of the Office of the Cabinet Secretary was designated Acting Chairperson of the NIA Board of Directors, 3 November 2016.</p>
                                <p><b>IRRIGATION/WATER RESOURCES SECTOR</b></p>

                                <p>1. Presidential Decree 1067, Water Code of the Philippines, 11 June 1979</p>
                                <p>2. Republic Act 6978, An Act to Promote Rural Development by Providing for an Accelerated Program Within a Ten-Year Period for the Construction of Irrigation Projects, 24 January 1991</p>
                                <p>3. Executive Order No. 22, series of 1992, Transferring the National Irrigation Administration from the Department of Public Works and Highways to the Office of the President, 14 September 1992</p>
                                <p>4. Administrative Order No. 17, series of 1992, Attaching the National Irrigation Administration to the Department of Agriculture, 14 October 1992</p>
                                <p>5. National Economic and Development Authority Resolution No. 20, National Policy on Repayment of Construction Cost of Irrigation Facilities, 24 August 1978</p>
                                <p>6. Letter of Instructions No. 1002, Re: The National Irrigation Administration’s authority to manage, protect, develop, and rehabilitate the watershed areas of the Pantabangan and Magat Multipurpose Dam Projects, 20 March 1980</p>
                                <p><b>AGRICULTURAL SECTOR</b></p>

                                <p>1. Republic Act 7607, An Act Providing a Magna Carta of Small Farmers, 4 June 1992</p>
                                <p>2. Republic Act 8435, An Act Prescribing Urgent Related Measures to Modernize the Agriculture and Fisheries Sectors of the Country in order to Enhance Their Profitability, and Prepare Said Sectors for the Challenges of Globalization Through an Adequate, Focused and Rational Delivery of Necessary Support Services Appropriating Funds Therefor and For Other Purposes (Agriculture and Fisheries Modernization Act of 1997), 22 December 1997</p>
                                <p><b>INFRASTRUCTURE SECTOR</b></p>

                                <p>1. Republic Act 6957, An Act Authorizing the Financing, Construction, Operation and Maintenance of Infrastructure Projects by the Private Sector and for Other Purposes (Build-Operate-Transfer and Build-and-Transfer Schemes), 9 July 1990</p>
                                <p>2. Republic Act 7718, An Act Amending Certain Sections of Republic Act No. 6957, Entitled "Act Authorizing the Financing, Construction, Operation and Maintenance of Infrastructure Projects by the Private Sector, and for Other Purposes", 26 July 1993</p>
                                <p>3. Republic Act 8974, An Act to Facilitate the Acquisition of Right-of-Way Site or Location for National Government Infrastructure Projects and for Other Purposes, 7 November 2000</p>
                                <p>4. Republic Act 7160, Local Government Code, 10 October 1991</p>
                                <p>5. Executive Order 503, series of 1992, Providing for the Rules and Regulations Implementing the Transfer of Personnel and Assets, Liabilities and Records of National Government Agencies Whose Functions are to be Devolved to the Local Government Units and for Other Related Purposes, 22 January 1992</p>
                                <p>6. Executive Order 507, series of 1992, Directing the Transfer of Fiscal Year 1992 Appropriations for Devolved Services and Facilities of Concerned National Government Departments and Agencies to the Internal Revenue Allotment, Enjoining Local Government Units to Revise their 1992 Annual Budgets Accordingly and Instructing the Secretary of Budget and Management to Issue the Rules and Regulations to be Observed for the Purpose, all Pursuant to the Provisions of the Local Government Code of 1992, 24 February 1992</p>
                                <p><b>RATIONALIZATION OF THE EXECUTIVE BRANCH</b></p>

                                <p>1. Executive Order No. 366, Directing a Strategic Review of the Operations and Organizations of the Executive Branch and Providing Options and Incentives for Government Employees Who May Be Affected by the Rationalization of the Functions and Agencies of the Executive Branch, 4 October 2004</p>
                                <p>2. Executive Order No. 718, Authorizing the Phased Implementation of the Rationalization Plan of the National Irrigation Administration and the Availment of the Separation and Incentive Package Under Executive Order No. 366, 8 April 2008</p>
                                <p><b>GENERAL APPLICATION</b></p>

                                <p>1. Executive Order 197, Directing All Departments, Bureaus, Commissions, Agencies, Offices and Instrumentalities of the National Government, Including Government-Owned or Controlled Corporations, to Increase Their Rates of Fees and Charges by Not Less than 20 Percent, 13 January 2000</p>
                                <p>2. Executive Order 218, Reactivating the Task Force on Fees and Charges, Expanding Its’ Membership and Functions and Providing Guidelines for the Review of the Proposed Rate Increase of Fees and Charges by National Government Agencies and Government-Owned or Controlled Corporations under Executive Order 197, 15 March 2000</p>
                                <p>3. Republic Act 9184, Government Procurement Reform Act, January 2003</p>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Offices and Functions">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                <p><b>BOARD OF DIRECTORS</b></p>

                                <p>The Board of Directors exercises the powers and functions of NIA.</p>

                                <p><b>COMPOSITION OF THE BOARD</b></p>
                                <ul>
                                <li>Secretary of the Office of the Cabinet Secretary as Acting Chairman</li>
                                <li>Administrator of NIA as Vice Chairman</li>
                                <li>Director General of the National Economic and Development Authority as Member</li>
                                <li>Secretary of Public Works and Highways as Member</li>
                                <li>President of the National Power Corporation as Member</li>
                                <li>One (1) member from the private sector appointed by the President of the Philippines on the recommendation of any national rice and corn organization of good standing and who shall serve for a term of four years unless sooner removed.
                                The Secretary of the Office of the Cabinet Secretary was designated Acting Chairperson of the NIA Board of Directors by virtue of Memorandum from the Executive Secretary - Office of the President. Before this, the Secretary of the Office of the Presidential Assistant for Food Security and Agricultural Modernization served as Board Chairman.</li>
                                </ul>
                                <p><b>POWERS AND DUTIES PURSUANT TO PD 552:</b></p>

                                <p>1. To formulate and adopt policies for the management and operations of NIA, and to prescribe, amend and repeal, with the approval of the President of the Philippines, rules and regulations governing the manner in which the general business of NIA may be conducted, including provisions for the formation of such committee/s as the Board may deem necessary to facilitate the business;</p>
                                <p>2. To recommend to the President of the Philippines the appointment of such number of Assistant Administrators as the exigencies of the service may require from a list of names submitted by the Administrator; to fix the compensation of the Administrator and his Assistant/s, and by at least two-thirds vote of all the members, to recommend the suspension and/or removal of the said officials for cause;</p>
                                <p>3. To approve, subject to the final action of the President, the annual and/or supplemental budget of NIA which may be submitted to the Board by the Administrator from time to time;</p>
                                <p>4. To appoint and fix the compensation of a Board Secretary who shall hold office at the pleasure of the majority of the members of the Board.</p>
                                <p><b>THE RATIONALIZATION PROGRAM IN NIA</b></p>

                                <p>The Rationalization Plan (RPlan) for NIA was authorized under Executive Orders 366 (2004) and 718 (2008). NIA's RPlan aims to improve the delivery of service and productivity thru the merger of offices and streamlining their functions; and the creation of irrigation management offices out of the irrigation systems offices and provincial irrigation offices. The Internal Audit Service and Irrigation Engineering Center are new offices in the central office created under the RPlan. Certain functions and responsibilities that used to be lodged at the central office are decentralized to the field offices. The Irrigation Management Transfer Program is a major component of the RPlan. NIA started implementing its five-year phased Rationalization Plan in 2008.</p>

                                link: Organizational Chart

                                <p><b>CENTRAL OFFICE</b></p>

                                <p>The Administrator is NIA's chief executive officer. He is supported by a Senior Deputy Administrator and two Deputy Administrators: for engineering and operations; and administrative and finance. The central office issues guidelines and policies and exercises control over field operations.</p>

                                <p><b>FIELD OFFICES</b></p>

                                <p>Decentralization of functions is achieved through delegation of various authorities to field offices.</p>

                                <p>1. RIO: Regional Irrigation Offices (16), each headed by a Regional Irrigation Manager (RIM). These implement the plans, programs, and policies of the Agency in the region.
                                The RIOs oversee the Irrigation Management Offices.</p>
                                <p>2. Integrated Irrigation Systems (2), each headed by an Operations Manager for the two reservoir systems: UPRIIS and MRIIS.</p>
                                <p>3. IMO: Irrigation Management Offices (51), each headed by a Division Manager. These are responsible for the construction and rehabilitation of irrigation projects and systems in one or a cluster of provinces. These also implement the operation and maintenance (O&M) plans of irrigation systems in collaboration with the farmer-beneficiaries.
                                The IMOs consist of 40 clustered provinces; and the 9 district offices, and two dam and reservoir divisions of UPRIIS and MRIIS. Provinces with national irrigation systems aggregating less than 3,000 ha are under the direct supervision of the RIO instead of being clustered as IMO. These include Albay, Catanduanes, Masbate, and Sorsogon in Region 5, and Zamboanga del Norte and Sibugay in Region 9. A satellite office will be establish in each of these provinces.</p>
                                <p>4. PMO: Project Management Offices (15), headed by Project Managers, implement foreign-assisted national projects, and communal irrigation projects. The number of PMOs varies from year to year. The Project Manager reports directly to the Administrator, through the Deputy Administrator for Engineering and Operations and the RIM.
                                Locally-funded projects are implemented by the RIO thru the IMO or a team headed by a Project Engineer.</p>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Corporate Funds">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                <p><b>NIA maintains two kinds of funds:</b></p>

                                <p>Capital Outlay which is budgeted in the Annual General Appropriations Act Current Operating Budget which is internally generated.</p>

                                <p><b>PROJECT FUNDS OR CAPITAL OUTLAY</b></p>

                                <p>Funds for capital outlay are for the construction of irrigation projects and appropriated annually in the General Appropriations Act (GAA). The national government provides local counterpart funds for project implementation.</p>

                                <p>Project funds also have foreign exchange component from loans and grants. The foreign financing institutions which have extended loans or grants to NIA are the International Bank for Reconstruction and Development (The World Bank), Asian Development Bank, Japan International Cooperation Agency, China National Construction and Agricultural Machinery Import and Export Corporation, United States Agency for International Development, International Fund for Agricultural Development, Organization of Petroleum Exporting Countries, International Development Association, Philippine Australian Development Assistance Program. Foreign exchange allocations are also included in the annual GAA.</p>

                                <p><b>CURRENT OPERATING BUDGET</b></p>

                                <p>NIA is authorized to keep its corporate earnings from various activities. Such internally generated funds are used mainly for operation and maintenance, repair and maintenance of equipment, institutional development, and investigation and survey. These include irrigation service fee (ISF) collection, equipment rentals and pump amortizations categorized under operating income, and administration and engineering overhead charge, interest income, proceeds from the sale of idle assets and communal irrigation projects and systems amortizations as non-operating income. NIA is authorized to charge five percent (5%) of the total costs of the projects it implements as administration and engineering overhead charge or management fee.</p>
                                                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Personnel Complement">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                <p><b>PERSONNEL COMPLEMENT</b></p>
                                <p>Similar to any government agency, NIA's plantilla for regular, project and daily employees are approved by the Department of Budget and Management. All personnel matters are governed by the rules and regulations of the Civil Service Commission. NIA regular employees (those at the central, regional, and irrigation management offices; and integrated irrigation systems) enjoy permanent status. The appointment of project personnel are co-terminus with their respective projects. Contractual and daily employees are hired when needed.</p>
                                <br>
                                <p>links:</p><br>
                                
                                <p>Flowchart in Appointment Processing</p>
                                <p>NIA-Revised Merit Selection Plan</p>
                                <p>Revised Criteria for First Level Positions</p>
                                <p>Revised Comparative Assessment Form</p>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <!-- end of col -->
            <div class="col-md-5 offset-md-1 col-sm-12 d-flex align-items-center">

                <img src="./assets/images/landing/svg/faqs2.svg" class="img-responsive w-100" alt="">
            </div>
        </div>
    </div>
</section>
